replicaCount: 2

image:
  repository: acrselabyoruat.azurecr.io/joyforum-wp
  tag: latest
  pullPolicy: IfNotPresent

# No imagePullSecrets required; AKS manages ACR auth externally
imagePullSecrets: []    # with no credentials

# with credentials

# imagePullSecrets:
#   - acr-pull-secret

service:
  type: LoadBalancer
  port: 80
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"  # Required for internal LB on AKS

ingress:
  enabled: false  # Disabled since using internal LoadBalancer

# ingress:
#   enabled: false
#   className: nginx
#   annotations: {}
#   hosts:
#     - host: your-public-domain.com
#       paths:
#         - /

env: []

deployment:
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%

resources: {}

serviceAccount:
  create: false
  # name: jormfarm-workload-identity-sa
  name: vendor-access-sa
  automount: true
  annotations: 
    azure.workload.identity/client-id: "81c52050-b1c7-478d-9f49-53f8d9bede08"

externalSecrets:
  enabled: true
  secretStore:
    name: wordpress-azure-kv-store
    azureKeyVaultName: kv-csi-joyforum-xbuns
#    tenantId: 606bd698-03f5-4b63-9ba3-1272b3fd2c3c
    # serviceAccountName: jormfarm-workload-identity-sa
    serviceAccountName: key-vault-csi-driver-controller
  secrets:
    - name: wordpress-db-secret
      refreshInterval: 10m
      data:
        - secretKey: WORDPRESS_DB_USER
          remoteRefKey: MySQLServerAdminUsername
        - secretKey: WORDPRESS_DB_PASSWORD
          remoteRefKey: MySQLServerAdminPassword
        - secretKey: WORDPRESS_DB_HOST
          remoteRefKey: mysql-host # We'll override in env var, but keep for completeness
        - secretKey: WORDPRESS_DB_NAME
          remoteRefKey: joyforum_db  # Assuming DB name is static
