apiVersion: v1
kind: Service
metadata:
  name: {{ include "jormfarm.fullname" . }}
  labels:
    app: {{ include "jormfarm.name" . }}
    {{- include "jormfarm.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    app: {{ include "jormfarm.name" . }}
