apiVersion: v1
kind: Service
metadata:
  name: {{ include "joyforum.fullname" . }}
  labels:
    {{- include "joyforum.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    app.kubernetes.io/name: {{ include "joyforum.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
